.professor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* background-color: var(--black); */
    background-image: url('../../assets/background/bg-batman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 125px;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 75px),50% 100%,0 calc(100% - 75px));
    margin-bottom: -75px;
    position: relative;
    z-index: 5;
}

.professor > div {
    width: 40vw;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.professor > div > img{
    display: none;
}

.professor > div > header > h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;  
    color: var(--color-primary);
}

.professor > div > article p{
    font-size: 22px;
    margin-bottom: 16px;
    color: var(--white);
}

.professor > div > article p strong{
    font-weight: 900;
    color: var(--white);
}

.professor > div > article > p:last-of-type{
    color: var(--color-primary);
    font-weight: 600;
}

@media (max-width: 1000px) {
    .professor {
        background-image: url('../../assets/background/bg-batman-tablet.jpg');
        background-position: left;
        position: relative;
    }

    .professor::after {
        z-index: -1;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 70%;
        background-color: black;
    }

}


@media (max-width: 700px) {
    .professor {
        align-items: center;
    }
}

@media (max-width: 550px) {
    .professor {
        clip-path: polygon(0 0,100% 0,100% calc(100% - 30px),50% 100%,0 calc(100% - 30px));
        margin-bottom: -30px;
    }

    .professor > div{
        width: 100vw;
        padding: 0 20px;
    }

    .professor > div > header > h2  {
        font-size: 36px;   
    }

    .professor > div > article p{
        font-size: 18px;
    }
}

@media (max-width: 470px) {

    .professor {
        background-image: url('../../assets/background/bg-batman-mobile.jpg');
        background-position: center;
        background-size: cover;
    }

    .professor::after{
        opacity: 0;
    }

    .professor > div{
        min-width: 300px;
    }

    .professor > div > img{
        display: block;
    }

    .professor > div > article p{
        font-size: 16px;
    }
}