/*======================================
STYLES GENERALES
======================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Work+Sans:wght@100;200;400&display=swap');


:root{
  
  font-size: 100%;

  --color-primary: #ffd500;
  --color-secundary: #383838;
  --white: #ffff;
  --black: #0f0f0f;
  --font-title: 'Roboto Condensed', sans-serif;
  --font-primary: 'Work Sans', sans-serif;
}

*{
  color: var(--color-secundary);
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-title);
  color: var(--black);
}